body{
    background-color: rgb(1, 5, 40);
}
.name{
    font-size: x-large;
}
.navbar{
    list-style: none;
    display: inline-flex;
    font-weight: bold;
    padding-left: 100px;
    color: white;
}

.navbaritems{
    display: inline-flex;
    padding-left: 400px;
    margin-top: 9px;
}

.navbaritems li{
    margin-left: 70px;

}